:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  /* min-height: 100vh; */
}

#searchLocationContainer {
  width: 100%;
}

#searchLocationForm {
  display: flex;
}

#searchTextBox {
  flex-grow: 1;
  font-size: 1em;
  font-weight: 500;
}

#weather-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#weather-location {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: xx-large;
  margin-top: 10px;
}

.location-lables {
  font-size: large;
  margin: 5px;
}

.weather-box-large {
  background-color: #494949;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 45px;
  padding: 20px;
  margin-top: 3%;
}

.current-weather-items {
  width: 100%;
  text-align: center;
}

#day-date {
  font-size: 25px;
}

#temperature {
  font-size: 48px;
}

#temperature-feel {
  font-size: 20px;
}

#forcasted-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 3%;
}

.weather-box-small {
  background-color: #494949;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  padding: 3px;
}

.future-weather-items {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#loading-component {
  text-align: center;
  font-size: 50px;
  padding: 25%;
}
